{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block content %}
    <section class="py-5">               
        <div class="container px-4 px-lg-5 my-5">
<h1>Mentions légales</h1>
<h2>1. Éditeur du site</h2>
<p>Le présent site web est édité par :</p>
<p><strong>Nom / Raison sociale :</strong> <span data-placeholder-token="true">Vite &amp; Gourmand</span><br>
  <strong>Statut juridique :</strong> <span data-placeholder-token="true">SARL</span><br>
  <strong>Adresse :</strong> <span data-placeholder-token="true">4 Rue commerson</span><br>
  <strong>Téléphone :</strong> <span data-placeholder-token="true">0134682601</span><br>
  <strong>Email :</strong> <span data-placeholder-token="true">royerjeanlaurent@gmail.com</span><br>
  <strong>SIRET / SIREN :</strong> <span data-placeholder-token="true">123456789123456789</span><br>
</p>
<p><strong>Directeur de la publication :</strong> <span data-placeholder-token="true">Royer Jean Laurent</span></p>
<h2>2. Hébergement</h2>
<p>Le site est hébergé par :</p>
<p><strong>Nom de l&rsquo;hébergeur :</strong> <span data-placeholder-token="true">IONOS]</span><br>
  <strong>Adresse :</strong><br>
  <strong>Téléphone :</strong> <span data-placeholder-token="true">0970808911</span><br>
  <strong>Site web :</strong> <span data-placeholder-token="true">www.ionos.fr</span></p>
<h2>3. Propriété intellectuelle</h2>
<p>L&rsquo;ensemble des contenus présents sur ce site (textes, images, graphismes, logo, vidéos, icônes, etc.) est protégé par le droit d&rsquo;auteur et reste la propriété exclusive de <span data-placeholder-token="true">[Nom de l&rsquo;entreprise / propriétaire]</span>, sauf mention contraire.</p>
<p>Toute reproduction, distribution, modification ou utilisation de ces contenus sans autorisation préalable écrite est strictement interdite.</p>
<h2>4. Responsabilité</h2>
<p>L&rsquo;éditeur du site s&rsquo;efforce de fournir des informations aussi précises que possible. Toutefois, il ne pourra être tenu responsable des omissions, des inexactitudes ou des carences dans la mise à jour.</p>
<p>L&rsquo;utilisation des informations du site se fait sous la seule responsabilité de l&rsquo;utilisateur.</p>
<h2>5. Données personnelles</h2>
<p>Les informations personnelles éventuellement collectées sur le site sont utilisées uniquement dans le cadre des services proposés.</p>
<p>Conformément à la réglementation en vigueur sur la protection des données personnelles, vous disposez d&rsquo;un droit d&rsquo;accès, de rectification et de suppression de vos données.</p>
<p>Pour exercer ce droit, contactez : <strong><span data-placeholder-token="true">royerjeanlaurent@gmail.com</span></strong></p>
<h2>6. Cookies</h2>
<p>Le site peut utiliser des cookies afin d&rsquo;améliorer l&rsquo;expérience utilisateur et réaliser des statistiques de visite.</p>
<p>L&rsquo;utilisateur peut configurer son navigateur pour refuser les cookies.</p>
<h2>7. Droit applicable</h2>
<p>Les présentes mentions légales sont régies par la législation en vigueur dans le pays de l&rsquo;éditeur du site.</p>
<p>En cas de litige, les tribunaux compétents seront ceux du ressort du siège social de l&rsquo;éditeur.</p>
        </div>
    </section>
{% endblock %}

{% block stylesheets %}
{% endblock %}
